
.device {
    padding: 80px 90px;
    background: linear-gradient(180deg, #8CB928 0%, #45AE4D 100%);
    border-radius: 18px;
    box-shadow: 0px 25px 50px #48AE4B;
}
    .device__btn {
        height: 24px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: inherit;
        border: none;
        margin-top: 15px;
    }
    .device__btn:active  {
        outline: none;
        text-decoration: underline;       
    }
    .device__btn:focus  {
        outline: none;
        
    }

@media (max-width: 992px) {
    .device {
        padding: 60px 70px;
    }
    .device__img {
        width: 130px;
    }    
}

@media (max-width: 768px) {
    .device {
        padding: 50px 50px;
    }
    .device__img {
        width: 100px;
    }
}

@media (max-width: 576px) {
    .device {
        padding: 44px 44px;
        box-shadow: none;
    }
    .device__img {
        width: 90px;
    }
}

@media (max-width: 475px) {
    .device {
        padding: 44px 40px;
        box-shadow: none;
    }
    .device__img {
        width: 70px;
    }
}