
.form {
    background: white;
    border-radius: 18px;
    height: 332px;
    box-shadow: 0px 25px 50px #48AE4B;
}
    .form__title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        max-width: 360px;
    }
    .form__input {
        width: 300px;
        height: 60px;
        border: 3px solid #DAE0E5;
        border-radius: 4px;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        margin-top: 42px;
        text-align: center;
    }
    .form__input:focus  {
        border: 3px solid #48AE4B;
        outline: none;        
    }
    .form__btn {
        width: 278px;
        height: 60px;
        background: #72BF44;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
    }
    .form__btn:active  {
        background: #48AE4B;
        outline: none;
        text-decoration: underline;       
    }
    .form__btn:focus  {
        outline: none;        
    }
    .error {
        border: 3px solid #BF4444;
        color: #BF4444;
    }
    .form__inf {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #DAE0E5;
        margin-bottom: 42px;
    }
    .form__inf--error {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #363636;
        margin-bottom: 42px;
    }
    .form__inf--error .fas {
        color: #BF4444;
    }
    

@media (max-width: 992px) {   
}

@media (max-width: 768px) {    
}

@media (max-width: 576px) {    
}

@media (max-width: 475px) {    
}