html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 375px;
    background: #E5E5E5;
}

.header {
    font-family: 'Roboto', sans-serif;
}
    .header__bg {
        width: 100%;
    }
    .header__title {
        left: 46px;
        top: 50px;
    }
    .header__title h1 {
        font-weight: bold;
        font-size: 32px;
        line-height: 35px;
        margin: 0;
        padding: 0;
    }
    .header__description {
        width: 300px;
        left: 46px;
        top: 180px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
    }

@media (min-width: 1200px) {
    .header__title {
        left: 55px;
        top: 50px;
    }
    .header__description {
        width: 400px;
        left: 55px;
        top: 220px;
        font-size: 24px;
        line-height: 30px;
    } 
}    

@media (max-width: 992px) {
    .header__title {
        left: 46px;
        top: 30px;
    }
    .header__description {
        width: 262px;
        left: 46px;
        top: 150px;
        font-size: 16px;
    } 
}

@media (max-width: 768px) {
    .header__title {
        left: 46px;
        top: 15px;
    }
    .header__title h1 {
        font-size: 20px;
        line-height: 20px;
    }
    .header__description {
        width: 262px;
        left: 46px;
        top: 105px;
        font-size: 14px;
    } 
}

@media (max-width: 576px) {
    .header__title {
        left: 40px;
        top: 15px;
    }
    .header__title h1 {
        font-size: 20px;
        line-height: 20px;
    }
    .header__logo {
        width: 23px;
        height: 30px;

    }
    .header__description {
        width: 262px;
        left: 40px;
        top: 90px;
        font-size: 14px;
        line-height: 20px;
    } 
}

@media (max-width: 475px) {
    .header__title {
        left: 30px;
        top: 15px;
    }
    .header__description {
        width: 200px;
        left: 30px;
        top: 65px;
        font-size: 12px;
        line-height: 16px;
    } 
}